{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "rules": {
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }]
  },
  "env": {
    "jest": true
  }
}
